.poster_text{
    color: #000;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 700;
    font-weight: bold;
    margin-bottom: auto;

}

.category{
    color: #808190;
    font-size: 12px;
    margin-bottom: auto;

}

.btn_col{
    background-color: #ffcb03;
}

.flex-col{
    flex-direction: column;
}

.text-start{
    text-align: start !important;
}
.main_container{
    background-color: rgb(248, 246, 246);
    
}

.span_text{
    color: black !important;
}