.valid_text{
 color: #212529bf;
 font-size: 11px;
}
.offer_btn{
    background-color: rgb(255 203 0) !important;
    color: black;
}

.offer_label{
    font-size: 12px;
}

.secondary_container{
    background-color: #fef1d6;
}

.row_p{
    padding: 0 !important;
}


@media screen and (max-width: 600px) {
    .main_container{
        display: none !important;
    }
}

@media screen and (min-width: 599px) {
    .main-card-container-mobile{
        display: none !important;
    }
}


.p-carousel-indicators {
    display: none;
}

.card-border{
    border: none !important;
}