.footer_text{
    color: #808190!important;
    font-size: 14px!important;
}

.bg_color{
    background-color: black;
}

.sizing{
    height: 30px;
}

.stores_logo{
    height: 35px;
}


@media screen and (max-width : 600px) {
    .main_footer{
        display: none;
    }
}