.contact_header{
    background-color: #ffcb03;
}

.icon_size{
    width: 20px;
}




.co-text {
    display: flex;
    flex-direction: row;
  }
.co-text:before, h4:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
.co-text:before {
    margin-right: 10px
  }
.co-text:after {
    margin-left: 10px
  }

iframe {
    width: 40vw;
    height: 100%;
    border: none;
}




@media screen and (max-width: 997px) {
    .contact_desktop_main{
        display: none !important;
    }
    iframe {
        width: 100vw;
        height: 300px;
        border: none;
    }

}

@media screen and (min-width: 997px) {
    .contact_mobile_main{
        display: none !important;
    }
   

}