.logo{
    width: 60px;
    height: auto;
}

.nav-link{
    font-family: Poppins, sans-serif;
    font-size: 14px !important;
    cursor: pointer;
    color: white ;
}


.nav-link .bg-active :active{
    background-color: #dc3545;
    border-radius: 100px;
    color: white !important;
}

.login{
    background-color: rgb(255, 240, 214);
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    .main_nav_desktop{
        display: none !important;
    }
}

@media screen and (min-width: 600px) {
    .main_nav_mobile{
        display: none !important;
    }
}


@media screen and (min-width: 950px) {
    .btn-navigate{
        display: none !important;
    }
}

@media screen and (max-width: 950px) {
    .links{
        display: none !important;
    }
}


.main_nav_mobile{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;

}

.canvas-width{
    width: 35% !important;
}

.main_nav_desktop{
    top: 0;
    position: sticky;
    z-index: 99;
}
